body {
	padding: 60px;
	font-family: 'Hevletica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 24px;
}

body > h4 {
	font-size: 24px;
	line-height: 24px;
	text-transform: uppercase;
	margin-bottom: 60px;
}

body > header {
	display: flex;
}

body > header > .address-block:nth-child(2) {
	margin-left: 100px;
}

.address-block address {
	font-style: normal;
}

.address-block > h5 {
	font-size: 14px;
	line-height: 14px;
	margin: 0px 0px 15px;
	text-transform: uppercase;
	color: #aaa;
}

.table {
	width: 100%;
	margin-top: 60px;
}

.table table {
	width: 100%;
	border: 1px solid #eee;
	border-collapse: collapse;
}

.table table tr th,
.table table tr td {
	font-size: 15px;
	padding: 10px;
	border: 1px solid #eee;
	border-collapse: collapse;
}

.table table tfoot tr td {
	border-top: 3px solid #eee;
}
